<div class="jumbotron">
    <h1>Type Script Hotel Reviews</h1>
    <p class="lead">Home away from home!</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
    </div>
    <div class="col-md-4">
       <div hotel-dropdown id="hotel" selected-hotel="vm.hotelId" on-hotel-change="vm.onHotelChange"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
       
    </div>
</div>